body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.navbarmine{
    background-color: #3a1f66!important;
}

.img-logo{
    width: 70%;
    height: 70%;
}

.select-users{
    margin-right: 10px;

}


.select-us{
    border-radius: 25px;
    height: 45px;
    width: 202px;
    color: #38215c;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    padding-left: 20px;
}

.btn-search{
    background-color: #29154b;
    border-radius: 25px;
    height: 45px;
    width: 140px;

}

.titleApp {
    /*lugo*/
    font-size: xxx-large;
    font-weight: bold;
    margin-left: 50px;
    
}

.titleHello{
    /*Hello Pedro*/

    font-size: xxx-large;
    font-weight: bold;
    color: #3a1f66;
}

.titleQueNecesitas{

    color: #3a1f66;
}

.icono{

    width: 50%;
    margin-left: 10px;
    margin-top: 20px;

}

.titleCard{
    font-size: xx-large;
    color: white;
    font-weight: bold;
}

.titleComercioCard{
    color: white;
}

.borderCards{
    border-radius: 20px;
    margin-bottom: 15px;
}

.footer{
    background-color:#3a1f66 ;
}

.modalheader{
    background-color: #38215c;
    color: white;
}

.titleModal{
    font-weight: 900;
    font-size: xxx-large;
}

.titleCardModal{
    margin-bottom: -66px;
}

.titleEmpresa{
    color: white;
    font-weight: 900;
    font-size: xxx-large;
    margin-left: 10px;
}

.btnPedir{
    background-color: #52239b;
    border-radius: 20px;
    width: 120px;
}

.titleProductModal{
    font-size: x-large;
    font-weight: 900;
    color: #52239b;
}

.mCometario{
    margin-top: 10px;
}

.alingPrice{
    text-align: right;
}

.bdModalContent{
    border-radius: 30px;
}

.mgCardsModal{
    margin-bottom: 20px;
}

.inputCantidadSolicitar{
    font-size: smaller;
}

.titleCantidadSolicitar{
    font-size: unset;
}

.btnProcesarOrden{
    background-color: #52239b;
    border-radius: 20px;
    width: 157px;
}

.colorBase{
    color: #52239b;
}

.titleOrdenes{
    font-weight: 900;
    font-size: larger;
}

.borderModal{
    border-radius: 30px;
}